body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#name, #addme, #password {
    font-size: 250%;
}

#user-list {
    float: right;
    width: 25%;
}

li.admin {
    color: red;
}

li.current_user {
    color: blue
}

div.main, div.control {
    display:none;
}

div.admin_main {
    display: none;
}

div.control div {

}

#up, #left, #right, #down {
    width: 100px;
}

.img_highlight {
   box-shadow: 3px 3px 10px 5px #000;
}

#up {
   margin-left: 100px;
}

#left {
    transform: rotate(270deg);
   -moz-transform: rotate(270deg);
   -webkit-transform: rotate(270deg);
}

#right {
    transform: rotate(90deg);
   -moz-transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
   margin-left: 100px;
}

#down {
    transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   margin-left: 100px;
}
