extends layout

block scripts
  script(src='/javascripts/socket-admin.js')

block content
    div.login
        input#name(value='Sudar', size='5')
        input#password(type='password', size='10')
        button#addme Login
    div.admin_main
        p Okay, let's play Asimi :)
